/* ForgotPassword.css */
.forgot-password-page {
    font-family: 'Poppins', sans-serif; /* Apply Poppins only for the forgot-password-page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .forgot-password-box {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font for headings */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to input fields */
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to button */
  }
  
  button:hover {
    background-color: #06b38b;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }